<!-- ButtonHTU -->
<section>
  <a id="buttonHTU"></a>
  <h3 class="bef bef-pt-4rem">Button</h3>
  <p class="mt-4 text-start bef bef-link-futurePop">
    There are two types of buttons, normal and outline.
  </p>
  <a id="normalbuttonHTU"></a>
  <h4 class="bef bef-pt-4rem">Normal Button</h4>
  <p class="my-3 text-start bef bef-link-futurePop">
    The normal button can be used with bef-btn-color where you can use any color
    of bootstrap, bootstrap extras, my custom colors and your own custom colors.
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <button class="btn bef bef-btn-mystic text-light">Button</button>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;button class=<span class="text-danger"
              >"btn bef bef-btn-mystic text-light"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Button
          <br />
          <span class="text-primary"> &#60;&#47;button&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <a id="outlinebuttonHTU"></a>
  <h4 class="bef bef-pt-4rem">Outline Button</h4>
  <p class="my-3 text-start bef bef-link-futurePop">
    The outline button can be used with bef-btnOutline-color-color where you can
    use any color of bootstrap, bootstrap extras, my custom colors and your own
    custom colors.
  </p>
  <div class="d-flex flex-column flex-sm-row mb-5 justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <button class="btn bef bef-btnOutline-mystic-light">
        Button Outline
      </button>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;button class=<span class="text-danger"
              >"btn bef bef-btnOutline-mystic-light"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Button Outline
          <br />
          <span class="text-primary"> &#60;&#47;button&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <h4 class="my-3 text-start bef bef-link-futurePop">
    ¿What is the difference between btn and bg?
  </h4>
  <p class="mt-3 text-start bef bef-link-futurePop">
    The bg only change the background color, but the btn change the background
    color with a shade tint of the color used depending of the element state,
    like hover, active, etc.
  </p>
</section>
