<!-- ShadowsHTU -->
<section>
  <a id="shadowsHTU"></a>
  <h3 class="bef bef-pt-4rem">Shadows</h3>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can create shadows with the bef library but its a little bit tricky, I
    recomend to check the
    <a href="#basicHTU" target="_blank" rel="noopener noreferrer">basics</a>
    before using the shadows on the elements.
  </p>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To use the shadows on the box elements you need to use the class
    bef-boxShadow- and add a complex and valid value and to use the shadows on
    the text elements you need to use the class bef-textShadow- and add a
    complex and valid value like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div class="w-50">
      <h5 class="text-center my-3">Example</h5>
      <p
        class="text-light fw-bold h3 bef bef-p-30px bef-bg-blood bef-textShadow-8px__4px__2px__pink bef-boxShadow-0px__8px__8px__dark"
      >
        Box with a dark shadow and a text with a pink shadow.
      </p>
    </div>
    <div class="w-50">
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"text-light fw-bold h3 bef bef-p-30px bef-bg-blood
              bef-textShadow-8px__4px__2px__pink
              bef-boxShadow-0px__8px__8px__dark"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Box with a dark shadow and a text with a pink shadow.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
</section>
