<!-- TextHTU -->
<section>
  <a id="textHTU"></a>
  <h3 class="bef bef-pt-4rem">Text</h3>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can use some new colors and even put your own colors, but there is more,
    now you can put different colors in the different breakpoints that bootstrap
    has.
    <br />
    You can watch what colors are available
    <a
      href="/guide/colors"
      [routerLink]="['/guide/colors']"
      rel=" noopener noreferrer "
    >
      here</a
    >.
    <br />
    You can watch how to use the breakpoints
    <a
      href="/guide/breakpoints"
      [routerLink]="['/guide/breakpoints']"
      rel=" noopener noreferrer "
    >
      here</a
    >.
  </p>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To use the text color you need to use the class bef-text- and add a color
    like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="bef bef-text-indigo">Paragraph with indigo text color.</p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger">"bef bef-text-indigo"</span>
            &#62;
          </span>
          <br />
          &ensp;Paragraph with indigo text color.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <!-- Hover Text Color -->
  <a id="hoverTextHTU"></a>
  <h4 class="bef bef-pt-4rem">Hover Text Color</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can use colors in the text only when the item has a hover state, like in
    the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="bef bef-text-indigo bef-textHover-mystic">
        Paragraph with indigo text color and a mystic text color on hover.
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"bef bef-text-indigo bef-textHover-mystic"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Paragraph with indigo text color and a mystic text color on
          hover.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <!-- Active Text Color -->
  <a id="activeTextHTU"></a>
  <h4 class="bef bef-pt-4rem">Active Text Color</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can use colors in the text only when the item has an active state, like
    in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="bef bef-text-indigo bef-textActive-mystic">
        Paragraph with indigo text color and a mystic text color on active.
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"bef bef-text-indigo bef-textActive-mystic"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Paragraph with indigo text color and a mystic text color on
          active.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <!-- Link -->
  <a id="linkHTU"></a>
  <h4 class="bef bef-pt-4rem">Link Color</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To use a color in the links of a text, you need to use the class bef-link-
    and add a color like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="text-dark bef bef-link-indigo">
        Paragraph with indigo
        <a href="#"> links </a>
        .
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"text-dark bef bef-link-indigo"</span
            >&#62;
          </span>
          <br />
          &ensp;Paragraph with indigo
          <span class="text-primary">
            &#60;a href=<span class="text-danger">"#"</span>&#62;</span
          >links<span class="text-primary">&#60;&#47;a&#62; </span>.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <!-- Hover Link Color -->
  <a id="hoverLinkHTU"></a>
  <h4 class="bef bef-pt-4rem">Hover Link Color</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can use a color in the links of a text, only when the item has a hover
    state, like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="text-dark bef bef-link-indigo bef-linkHover-mystic">
        Paragraph with indigo color and a mystic color on hover in the
        <a href="#"> links </a>
        .
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"text-dark bef bef-link-indigo bef-linkHover-mystic"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Paragraph with indigo color and a mystic color on hover in the
          <span class="text-primary">
            &#60;a href=<span class="text-danger">"#"</span>&#62;</span
          >links<span class="text-primary">&#60;&#47;a&#62; </span>.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <!-- Active Link -->
  <a id="activeLinkHTU"></a>
  <h4 class="bef bef-pt-4rem">Active Link Color</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can use a color in the links of a text, only when the item has an active
    state, like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="text-dark bef bef-link-indigo bef-linkActive-mystic">
        Paragraph with indigo color and a mystic color on active in the
        <a href="#"> links </a>
        .
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"text-dark bef bef-link-indigo bef-linkActive-mystic"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Paragraph with indigo color and a mystic color on active in the
          <span class="text-primary">
            &#60;a href=<span class="text-danger">"#"</span>&#62;</span
          >links<span class="text-primary">&#60;&#47;a&#62; </span>.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <a id="fssizeHTU"></a>
  <h4 class="bef bef-pt-4rem">Font Size</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To use the font size of a text you need to use the class bef-fs- and add a
    value like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row mb-5 justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="bg-dark text-light bef bef-fs-23px">
        Text with a font size of 23px.
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"bg-dark text-light bef bef-fs-23px"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Text with a font size of 23px.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <a id="lhsizeHTU"></a>
  <h4 class="bef bef-pt-4rem">Line Height</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To use the line height of a text you need to use the class bef-fs- and add a
    value like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row mb-5 justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="bg-dark text-light bef bef-lh-50px">
        Text with a line height of 50px.
        <br />
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"bg-dark text-light bef bef-lh-50px"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Text with a line height of 50px.
          <br /><span class="text-primary"> &ensp;&#60;br &#47;&#62;</span>
          <br />
          &ensp;Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
</section>
