<aside
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offCanvasGlosary"
    aria-labelledby="offCanvasGlosaryLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offCanvasGlosaryLabel">Glosary</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul class="nav flex-column bef bef-link-futurePop">
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <a class="nav-link" href="#about">About</a>
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <a class="nav-link" href="#basicHTU">Basics</a>
          </button>
          <ul class="nav ms-4 flex-column bef bef-link-futurePop">
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#newColorsBasicHTU">New Colors</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#bpsBasicHTU">BreakPoints</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#reswordsBasicHTU">Reserved Words</a>
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <a class="nav-link" href="#backgroundHTU">Background</a>
          </button>
          <ul class="nav ms-4 flex-column bef bef-link-futurePop">
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#hoverBGHTU">Hover</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#activeBGHTU">Active</a>
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <a class="nav-link" href="#borderHTU">Border</a>
          </button>
          <ul class="nav ms-4 flex-column bef bef-link-futurePop">
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#widthborderHTU">Width</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#styleborderHTU">Style</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#colorborderHTU">Color</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#radiusborderHTU">Radius</a>
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <a class="nav-link" href="#buttonHTU">Buttons</a>
          </button>
          <ul class="nav ms-4 flex-column bef bef-link-futurePop">
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#normalbuttonHTU">Normal Button</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#outlinebuttonHTU">Outline Button</a>
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <a class="nav-link" href="#opacityHTU">Opacity</a>
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <a class="nav-link" href="#positionHTU">Position</a>
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <a class="nav-link" href="#shadowsHTU">Shadows</a>
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <a class="nav-link" href="#sizingHTU">Sizing</a>
          </button>
          <ul class="nav ms-4 flex-column bef bef-link-futurePop">
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#wnhsizeHTU">Width & Height</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#wmnwmxhmnnhmxsizeHTU"
                  >Width Min, Width Max, Height Min & Height Max</a
                >
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#pnmsizeHTU">Padding & Margin</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#gapsizeHTU">Gap</a>
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <a class="nav-link" href="#textHTU">Text</a>
          </button>
          <ul class="nav ms-4 flex-column bef bef-link-futurePop">
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#hoverTextHTU">Hover Text Color</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#activeTextHTU">Active Text Color</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#linkHTU">Link Color</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#hoverLinkHTU">Hover Link Color</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#activeLinkHTU">Active Link Color</a>
              </button>
            </li>
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a class="nav-link" href="#fssizeHTU">Font Size</a>
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          >
            <a class="nav-link" href="#zIndexHTU">Z-index</a>
          </button>
        </li>
      </ul>
    </div>
  </aside>