<footer
    class="d-flex flex-column flex-md-row justify-content-between w-100 position-fixed bef bef-z-10 bottom-0"
  >
    <p
      class="text-center bg-dark text-light bef bef-p-1rem bef-w-90per bef-w-md-50per bef-mx-auto bef-mx-md-0 d-block fw-bold bef-link-lavender bef-boxShadow-0px__2px__4px__lavender"
    >
      Remember, you can always use the
      <a href="#bpsBasicHTU" class="text-decoration-none">breakpoints</a> and
      <a href="#newColorsBasicHTU" class="text-decoration-none">colors</a>
      within every class.
    </p>
    <div class="mx-4">
      <button
        class="btn bef bef-btn-monster__OPA__0_75 bef-text-futurePop fw-bold d-block mx-auto bef-p-0_25rem__1rem bef-rounded-1rem"
        onclick="cssCreate()"
      >
        cssCreate() function BTN
      </button>
      <div id="befTimer" class="text-center bg-light p-2"></div>
    </div>
  </footer>