<!-- PositionHTU -->
<section>
  <a id="positionHTU"></a>
  <h3 class="bef bef-pt-4rem">Position</h3>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can change the position of the elements with bef.
  </p>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To use the position you need to use the bootstrap class position-absolute
    and one or more of the classes "bef-top-", "bef-bot-", "bef-start-" or
    "bef-end-" and add a value like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row mb-3 justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <div
        class="position-relative bef bef-h-200px bef-w-300px bef-bg-beast mx-auto"
      >
        <p
          class="text-light position-absolute bef bef-top-15px bef-start-30per bef-w-150px bef-bg-abyss"
        >
          Box with top 15px and start 30 percent.
        </p>
      </div>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;div class=<span class="text-danger"
              >"position-relative bef bef-h-200px bef-w-300px bef-bg-beast
              mx-auto"</span
            >
            &#62;
          </span>
          <br />
          <span class="text-primary">
            &ensp;&#60;p class=<span class="text-danger"
              >"text-light position-absolute bef bef-top-15px bef-start-30per
              bef-w-150px bef-bg-abyss"</span
            >
            &#62;
          </span>
          <br />
          &ensp;&ensp;Box with 0.5 opacity.
          <br />
          <span class="text-primary"> &ensp;&#60;&#47;p&#62; </span>
          <br />
          <span class="text-primary"> &#60;&#47;div&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can change the position property too.
  </p>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To use the property property you need to use the class bef-position- and add
    a valid value like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <div
        class="bef bef-position-static bef-position-md-relative bef-h-200px bef-w-300px bef-bg-beast mx-auto"
      >
        <p
          class="text-light bef bef-position-static bef-position-md-absolute bef-top-15px bef-start-30per bef-w-150px bef-bg-abyss"
        >
          Box with position static below the md breakpoint and absolute above
          the breakpoint.
        </p>
      </div>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;div class=<span class="text-danger"
              >"bef bef-position-static bef-position-md-relative bef-h-200px
              bef-w-300px bef-bg-beast mx-auto"</span
            >
            &#62;
          </span>
          <br />
          <span class="text-primary">
            &ensp;&#60;p class=<span class="text-danger"
              >"text-light bef bef-position-static bef-position-md-absolute
              bef-top-15px bef-start-30per bef-w-150px bef-bg-abyss"</span
            >
            &#62;
          </span>
          <br />
          &ensp;&ensp;Box with position static below the md breakpoint and
          absolute above the breakpoint.
          <br />
          <span class="text-primary"> &ensp;&#60;&#47;p&#62; </span>
          <br />
          <span class="text-primary"> &#60;&#47;div&#62; </span>
        </code>
      </p>
    </div>
  </div>
</section>
