<!-- BackgroundHTU -->
<section>
  <a id="backgroundHTU"></a>
  <h3 class="bef bef-pt-4rem">Background</h3>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can use some new colors and even put your own colors, but there is more,
    now you can put different colors in the different breakpoints that bootstrap
    has.
    <br />
    You can watch what colors are available
    <a
      href="/guide/colors"
      [routerLink]="['/guide/colors']"
      rel=" noopener noreferrer "
    >
      here</a
    >.
    <br />
    You can watch how to use the breakpoints
    <a
      href="/guide/breakpoints"
      [routerLink]="['/guide/breakpoints']"
      rel=" noopener noreferrer "
    >
      here</a
    >.
  </p>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To use the background you need to use the class bef-bg- and add a color like
    in the following example:
  </p>
  <codeviewer [code]="getHTML('bg')"></codeviewer>
  <!-- Hover Background -->
  <a id="hoverBGHTU"></a>
  <h4 class="bef bef-pt-4rem">Hover background</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can use colors in the background only when the item has a hover state,
    like in the following example:
  </p>
  <codeviewer [code]="getHTML('bghover')"></codeviewer>
  <!-- Active Background -->
  <a id="activeBGHTU"></a>
  <h4 class="bef bef-pt-4rem">Active background</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can use colors in the background only when the item has an active state,
    like in the following example:
  </p>
  <codeviewer [code]="getHTML('bgactive')"></codeviewer>
</section>
