<!-- BackgroundHTU -->
<section>
  <a id="backgroundHTU"></a>
  <h3 class="bef bef-pt-4rem">Background</h3>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can use some new colors and even put your own colors, but there is more,
    now you can put different colors in the different breakpoints that bootstrap
    has.
    <br />
    You can watch what colors are available
    <a href="#newColorsBasicHTU"> here</a>.
    <br />
    You can watch how to use the breakpoints
    <a href="#bpsBasicHTU"> here</a>.
  </p>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To use the background you need to use the class bef-bg- and add a color like
    in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="text-light bef bef-bg-indigo">Box with indigo background.</p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"text-light bef bef-bg-indigo"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Box with indigo background.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <!-- Hover Background -->
  <a id="hoverBGHTU"></a>
  <h4 class="bef bef-pt-4rem">Hover background</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can use colors in the background only when the item has a hover state,
    like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="text-light bef bef-bg-indigo bef-bgHover-mystic">
        Box with indigo background and a mystic background on hover.
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"text-light bef bef-bg-indigo bef-bgHover-mystic"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Box with indigo background and a mystic background on hover.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <!-- Active Background -->
  <a id="activeBGHTU"></a>
  <h4 class="bef bef-pt-4rem">Active background</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can use colors in the background only when the item has an active state,
    like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="text-light bef bef-bg-indigo bef-bgActive-mystic">
        Box with indigo background and a mystic background on active.
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"text-light bef bef-bg-indigo bef-bgActive-mystic"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Box with indigo background and a mystic background on active.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
</section>
