<!-- SizingHTU -->
<section>
  <a id="sizingHTU"></a>
  <h3 class="bef bef-pt-4rem">Sizing</h3>
  <p class="mt-4 text-start bef bef-link-futurePop">
    The sizing of elements on bef can use all the sizing properties with the
    breakpoints of Bootstrap and with custom values.
  </p>
  <a id="wnhsizeHTU"></a>
  <h4 class="bef bef-pt-4rem">Width & Height</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To use the width or/and height on an element you need to use the class
    bef-w- and add a value or/and the class bef-h- and add a value like in the
    following example:
  </p>
  <div class="d-flex flex-column flex-sm-row mb-5 justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="bg-dark text-light bef bef-w-150px bef-h-150px">
        Box with a width of a 150px and an height of a 150px.
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"bg-dark text-light bef bef-w-150px bef-h-150px"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Box with a width of a 150px and an height of a 150px.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can also use the clamp() function in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p
        class="bg-dark text-light bef bef-w-clampSD100pxCOM__75perCOM__450pxED bef-h-clampSD100pxCOM__50perCOM__250pxED"
      >
        Box with a width of a minimum of 100px, 75 percent standard and a
        maximum of 450px and an height of a minimum of a 100px, 50 percent
        standard and a maximum of 250px.
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"bg-dark text-light bef bef-w-clampSD100pxCOM__75perCOM__450pxED
              bef-h-clampSD100pxCOM__50perCOM__250pxED"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Box with a width of a minimum of 100px, 75 percent standard and
          a maximum of 450px and an height of a minimum of a 100px, 50 percent
          standard and a maximum of 250px.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <a id="wmnwmxhmnnhmxsizeHTU"></a>
  <h4 class="bef bef-pt-4rem">Width Min, Width Max, Height Min & Height Max</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    If you dont like to use clamp() function, we can use the width min
    ("bef-wmn-"), width max ("bef-wmx-"), height min ("bef-hmn-") & height max
    ("bef-hmx-") like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p
        class="bg-dark text-light bef bef-wmn-100px bef-w-75per bef-wmx-450px bef-hmn-100px bef-h-50per bef-hmx-250px"
      >
        Box with a width of a minimum of 100px, 75 percent standard and a
        maximum of 450px and an height of a minimum of a 100px, 50 percent
        standard and a maximum of 250px.
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"bg-dark text-light bef bef-wmn-100px bef-w-75per bef-wmx-450px
              bef-hmn-100px bef-h-50per bef-hmx-250px"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Box with a width of a minimum of 100px, 75 percent standard and
          a maximum of 450px and an height of a minimum of a 100px, 50 percent
          standard and a maximum of 250px.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <a id="pnmsizeHTU"></a>
  <h4 class="bef bef-pt-4rem">Padding & Margin</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    We can use bef to use padding and margin with the breakpoints and custom
    value, like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row mb-5 justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="bg-dark text-light bef bef-p-30px bef-m-50px">
        Box with a padding of a 30px and an margin of a 50px.
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"bg-dark text-light bef bef-p-30px bef-m-50px"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Box with a padding of a 30px and an margin of a 50px.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <h5>Padding options</h5>
  <p class="my-3 text-start bef bef-link-futurePop">
    The padding an be determined with the following classes:
  </p>
  <ul class="list-group my-3">
    <li class="list-group-item">bef-p-value = padding: value</li>
    <li class="list-group-item">bef-pt-value = padding-top: value</li>
    <li class="list-group-item">bef-pb-value = padding-bottom: value</li>
    <li class="list-group-item">bef-ps-value = padding-left: value</li>
    <li class="list-group-item">bef-pe-value = padding-right: value</li>
    <li class="list-group-item">
      bef-px-value = padding-right: value ; padding-left: value
    </li>
    <li class="list-group-item">
      bef-py-value = padding-top: value ; padding-bottom: value
    </li>
  </ul>
  <p class="my-3 text-start bef bef-link-futurePop">
    Where value can be changed for any value.
  </p>
  <h5>Margin options</h5>
  <p class="my-3 text-start bef bef-link-futurePop">
    The margin an be determined with the following classes:
  </p>
  <ul class="list-group my-3">
    <li class="list-group-item">bef-m-value = margin: value</li>
    <li class="list-group-item">bef-mt-value = margin-top: value</li>
    <li class="list-group-item">bef-mb-value = margin-bottom: value</li>
    <li class="list-group-item">bef-ms-value = margin-left: value</li>
    <li class="list-group-item">bef-me-value = margin-right: value</li>
    <li class="list-group-item">
      bef-mx-value = margin-right: value ; margin-left: value
    </li>
    <li class="list-group-item">
      bef-my-value = margin-top: value ; margin-bottom: value
    </li>
  </ul>
  <p class="mt-3 text-start bef bef-link-futurePop">
    Where value can be changed for any value.
  </p>
  <a id="gapsizeHTU"></a>
  <h4 class="bef bef-pt-4rem">Gap</h4>
  <p class="my-3 text-start bef bef-link-futurePop">
    We can use the gap with the bef caracteristics now, but remember that gap is
    for spacing between rows and columns on the grid, so you will need to use
    one like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row mb-3 justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <div class="d-flex flex-wrap bef bef-gap-30px__15px">
        <p class="bg-dark text-light m-0 bef bef-w-calcSD50per__MIN__7_5pxED">
          Gap 30px 15px.
        </p>
        <p class="bg-dark text-light m-0 bef bef-w-calcSD50per__MIN__7_5pxED">
          Gap 30px 15px.
        </p>
        <p class="bg-dark text-light m-0 bef bef-w-calcSD50per__MIN__7_5pxED">
          Gap 30px 15px.
        </p>
        <p class="bg-dark text-light m-0 bef bef-w-calcSD50per__MIN__7_5pxED">
          Gap 30px 15px.
        </p>
      </div>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;div class=<span class="text-danger"
              >"d-flex flex-wrap bef bef-gap-30px__15px"</span
            >
            &#62;
          </span>
          <br />
          <span class="text-primary">
            &ensp;&#60;p class=<span class="text-danger"
              >"bg-dark text-light m-0 bef
              bef-w-calcSD50per__MIN__7_5pxED"</span
            >
            &#62;
          </span>
          <br />
          &ensp;&ensp;Gap 30px 15px.
          <br />
          <span class="text-primary"> &ensp;&#60;&#47;p&#62; </span>
          <br />
          <span class="text-primary">
            &ensp;&#60;p class=<span class="text-danger"
              >"bg-dark text-light m-0 bef
              bef-w-calcSD50per__MIN__7_5pxED"</span
            >
            &#62;
          </span>
          <br />
          &ensp;&ensp;Gap 30px 15px.
          <br />
          <span class="text-primary"> &ensp;&#60;&#47;p&#62; </span>
          <br />
          <span class="text-primary">
            &ensp;&#60;p class=<span class="text-danger"
              >"bg-dark text-light m-0 bef
              bef-w-calcSD50per__MIN__7_5pxED"</span
            >
            &#62;
          </span>
          <br />
          &ensp;&ensp;Gap 30px 15px.
          <br />
          <span class="text-primary"> &ensp;&#60;&#47;p&#62; </span>
          <br />
          <span class="text-primary">
            &ensp;&#60;p class=<span class="text-danger"
              >"bg-dark text-light m-0 bef
              bef-w-calcSD50per__MIN__7_5pxED"</span
            >
            &#62;
          </span>
          <br />
          &ensp;&ensp;Gap 30px 15px.
          <br />
          <span class="text-primary"> &ensp;&#60;&#47;p&#62; </span>
          <br />
          <span class="text-primary"> &#60;&#47;div&#62; </span>
        </code>
      </p>
    </div>
  </div>
  <p class="my-3 text-start bef bef-link-futurePop">
    We can also use row-gap and column-gap like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <div class="d-flex flex-wrap bef bef-rowGap-30px bef-columnGap-15px">
        <p class="bg-dark text-light m-0 bef bef-w-calcSD50per__MIN__7_5pxED">
          Row gap 30px and column gap 15px.
        </p>
        <p class="bg-dark text-light m-0 bef bef-w-calcSD50per__MIN__7_5pxED">
          Row gap 30px and column gap 15px.
        </p>
        <p class="bg-dark text-light m-0 bef bef-w-calcSD50per__MIN__7_5pxED">
          Row gap 30px and column gap 15px.
        </p>
        <p class="bg-dark text-light m-0 bef bef-w-calcSD50per__MIN__7_5pxED">
          Row gap 30px and column gap 15px.
        </p>
      </div>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;div class=<span class="text-danger"
              >"d-flex flex-wrap bef bef-rowGap-30px bef-columnGap-15px"</span
            >
            &#62;
          </span>
          <br />
          <span class="text-primary">
            &ensp;&#60;p class=<span class="text-danger"
              >"bg-dark text-light m-0 bef
              bef-w-calcSD50per__MIN__7_5pxED"</span
            >
            &#62;
          </span>
          <br />
          &ensp;&ensp;Row gap 30px and column gap 15px.
          <br />
          <span class="text-primary"> &ensp;&#60;&#47;p&#62; </span>
          <br />
          <span class="text-primary">
            &ensp;&#60;p class=<span class="text-danger"
              >"bg-dark text-light m-0 bef
              bef-w-calcSD50per__MIN__7_5pxED"</span
            >
            &#62;
          </span>
          <br />
          &ensp;&ensp;Row gap 30px and column gap 15px.
          <br />
          <span class="text-primary"> &ensp;&#60;&#47;p&#62; </span>
          <br />
          <span class="text-primary">
            &ensp;&#60;p class=<span class="text-danger"
              >"bg-dark text-light m-0 bef
              bef-w-calcSD50per__MIN__7_5pxED"</span
            >
            &#62;
          </span>
          <br />
          &ensp;&ensp;Row gap 30px and column gap 15px.
          <br />
          <span class="text-primary"> &ensp;&#60;&#47;p&#62; </span>
          <br />
          <span class="text-primary">
            &ensp;&#60;p class=<span class="text-danger"
              >"bg-dark text-light m-0 bef
              bef-w-calcSD50per__MIN__7_5pxED"</span
            >
            &#62;
          </span>
          <br />
          &ensp;&ensp;Row gap 30px and column gap 15px.
          <br />
          <span class="text-primary"> &ensp;&#60;&#47;p&#62; </span>
          <br />
          <span class="text-primary"> &#60;&#47;div&#62; </span>
        </code>
      </p>
    </div>
  </div>
</section>
