<section>
  <h4>CSS Combinators</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To add combinators we need to use "SEL" to modify the selector, here are
    some examples using descendant selector (space), child selector (>),
    adjacent sibling selector (+) and the general sibling selector (~)
  </p>
  <h5>Descendant Selector</h5>
  <codeviewer [code]="getHTML('descendant')"></codeviewer>
  <h5>Child Selector</h5>
  <codeviewer [code]="getHTML('child')"></codeviewer>
  <h5>Adjacent Sibling Selector</h5>
  <codeviewer [code]="getHTML('adj')"></codeviewer>
  <h5>General Sibling Selector</h5>
  <codeviewer [code]="getHTML('general')"></codeviewer>
</section>
