<div
  class="bef bef-bg-futurePop bef-w-100vw bef-h-100vh position-fixed top-0 start-0"
>
  <h1
    class="text-center fw-bold bef bef-fs-3rem bef-text-futurePop bef-tsh-0px__0px__15px__dark bef-mt-calcSD50vh__MIN__12remED bef-mx-2rem mb-3"
  >
    <wbr />Bootstrap<wbr /> Expanded<wbr /> Features
  </h1>
  <h2 class="text-center bef bef-text-dark">
    The library to make more with your css classes
  </h2>
  <a
    href="/about"
    [routerLink]="['/about']"
    rel="noopener noreferrer"
    class="text-decoration-none text-center d-block mx-auto fw-bold my-3 bef bef-text-monster"
    >Know more</a
  >
</div>
