<div class="bef bg-dark w-100 bef-w-100vw bef-h-100vh position-fixed top-0 start-0">
  <img
    src="./assets/images/bef-logo.jpg"
    alt="Bootstrap Expanded Features"
    class="d-block mx-auto w-50 bef-hmx-75vh bef-objectFit-contain"
  />
  <h2 class="text-center text-light">
    The library to make more with your css classes
  </h2>
  <a
    href="/about"
    [routerLink]="['/about']"
    rel="noopener noreferrer"
    class="btn text-decoration-none text-center d-block mx-auto fw-bold my-3 bef bef-textHover-dark bef-btnOutline-monster-dark bef-w-150px"
    >Know more</a
  >
</div>
