<section>
  <h2 class="bef bef-pt-4rem">Advanced</h2>
  <article>
    <p class="mt-4 mb-3 text-start">
      So you think you have what it takes to be a bef master? Well, let's see,
      the next thing you need to know are the following:
    </p>
  </article>
  <article class="mb-5">
    <h3>
      <a
        class="text-decoration-none bef bef-text-futurePop bef-textShadow-0px__0px__2px__abyssCOM0px__0px__4px__futurePop text-wrap"
        href="/guide/pseudos"
        [routerLink]="['/guide/pseudos']"
        rel="noopener noreferrer"
      >
        Pseudo Classes & Pseudo Elements
      </a>
    </h3>
    <p class="mt-4 mb-3 text-start">That's right, like in plain css.</p>
    <codeviewer [code]="getHTML('firstLetter')"></codeviewer>
  </article>
  <article class="mb-5">
    <h3>
      <a
        class="text-decoration-none bef bef-text-futurePop bef-textShadow-0px__0px__2px__abyssCOM0px__0px__4px__futurePop text-wrap"
        href="/guide/reserved-words"
        [routerLink]="['/guide/reserved-words']"
        rel="noopener noreferrer"
      >
        Reserved Words
      </a>
    </h3>
    <p class="mt-4 mb-3 text-start">
      This is a must known to create more powerfull classes here is a basic
      example.
    </p>
    <ul class="list-group my-3">
      <li class="list-group-item">
        <span class="bef bef-fs-2rem text-end d-block bef-mx-2rem bef-mt-1rem">
          "per":"%"
        </span>
        <br />
        <span class="bef bef-mx-2rem">
          The percentage symbol is used to indicate that the value is a
          percentage.
        </span>
        <br />
        <span
          class="text-center d-block mx-auto bef bef-text-blood bef-my-1rem"
        >
          bef-text-50per = width: 50%
        </span>
      </li>
    </ul>
  </article>
  <article class="mb-5">
    <h3>
      <a
        class="text-decoration-none bef bef-text-futurePop bef-textShadow-0px__0px__2px__abyssCOM0px__0px__4px__futurePop text-wrap"
        href="/guide/combinators"
        [routerLink]="['/guide/combinators']"
        rel="noopener noreferrer"
      >
        CSS Combinators
      </a>
    </h3>
    <p class="mt-4 mb-3 text-start">
      You don't need a description for this.
      <br />
      But here is where you will know how to use them and the amazing reserved
      word "SEL".
    </p>
    <codeviewer [code]="getHTML('adj')"></codeviewer>
  </article>
  <article class="mb-5">
    <h3>
      <a
        class="text-decoration-none bef bef-text-futurePop bef-textShadow-0px__0px__2px__abyssCOM0px__0px__4px__futurePop text-wrap"
        href="/guide/abbreviations"
        [routerLink]="['/guide/abbreviations']"
        rel="noopener noreferrer"
      >
        Value Abbreviations and Class Abbreviations
      </a>
    </h3>
    <p class="mt-4 mb-3 text-start">
      You think that you need to write long css classes all the time, think
      again.
    </p>
    <codeviewer [code]="getHTML('abbVEX')"></codeviewer>
    <codeviewer [code]="getHTML('abbCEX')"></codeviewer>
  </article>
  <article class="mb-5">
    <h3>
      <a
        class="text-decoration-none bef bef-text-futurePop bef-textShadow-0px__0px__2px__abyssCOM0px__0px__4px__futurePop text-wrap"
        href="/guide/combos"
        [routerLink]="['/guide/combos']"
        rel="noopener noreferrer"
      >
        Combos
      </a>
    </h3>
    <p class="mt-4 mb-3 text-start">
      So... do you want to get more with less?.
    </p>
    <codeviewer [code]="getHTML('combEX1')"></codeviewer>
    <codeviewer [code]="getHTML('combEX2')"></codeviewer>
  </article>
</section>
