<!-- OpacityHTU -->
<section>
  <a id="opacityHTU"></a>
  <h3 class="bef bef-pt-4rem">Opacity</h3>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    The opacity is one of the most easy properties to changes using bef.
  </p>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To use the opacity you need to use the class bef-opacity- and add a value
    like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="text-dark bef bef-opacity-0_5">Box with 0.5 opacity.</p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"text-dark bef bef-opacity-0_5"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Box with 0.5 opacity.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
</section>
