<!-- BorderHTU -->
<section>
  <a id="borderHTU"></a>
  <h3 class="bef bef-pt-4rem">Border</h3>
  <p class="mt-4 text-start bef bef-link-futurePop">
    You can put borders in an element with only 3 classes, but you can use more
    to get more personalization, we will check the 3 types of border classes
    first, then we will se some examples.
  </p>
  <a id="widthborderHTU"></a>
  <h4 class="bef bef-pt-4rem">Border Width</h4>
  <p class="my-3 text-start bef bef-link-futurePop">
    The width of the border can be determined with the following classes:
  </p>
  <ul class="list-group my-3">
    <li class="list-group-item">bef-bw-value = border-width: value</li>
    <li class="list-group-item">bef-bwt-value = border-top-width: value</li>
    <li class="list-group-item">bef-bwb-value = border-bottom-width: value</li>
    <li class="list-group-item">bef-bws-value = border-left-width: value</li>
    <li class="list-group-item">bef-bwe-value = border-right-width: value</li>
    <li class="list-group-item">
      bef-bwx-value = border-right-width: value ; border-left-width: value
    </li>
    <li class="list-group-item">
      bef-bwy-value = border-top-width: value ; border-bottom-width: value
    </li>
  </ul>
  <p class="my-3 text-start bef bef-link-futurePop">
    Where value can be changed for any value.
  </p>
  <a id="styleborderHTU"></a>
  <h4 class="bef bef-pt-4rem">Border Style</h4>
  <p class="my-3 text-start bef bef-link-futurePop">
    The style of the border can be determined with the following classes:
  </p>
  <ul class="list-group my-3">
    <li class="list-group-item">bef-bs-value = border-style: value</li>
    <li class="list-group-item">bef-bst-value = border-top-style: value</li>
    <li class="list-group-item">bef-bsb-value = border-bottom-style: value</li>
    <li class="list-group-item">bef-bss-value = border-left-style: value</li>
    <li class="list-group-item">bef-bse-value = border-right-style: value</li>
    <li class="list-group-item">
      bef-bsx-value = border-right-style: value ; border-left-style: value
    </li>
    <li class="list-group-item">
      bef-bsy-value = border-top-style: value ; border-bottom-style: value
    </li>
  </ul>
  <p class="my-3 text-start bef bef-link-futurePop">
    Where value can be changed for any value.
  </p>
  <a id="colorborderHTU"></a>
  <h4 class="bef bef-pt-4rem">Border Color</h4>
  <p class="my-3 text-start bef bef-link-futurePop">
    The color of the border can be determined with the following classes:
  </p>
  <ul class="list-group my-3">
    <li class="list-group-item">bef-bc-value = border-color: value</li>
    <li class="list-group-item">bef-bct-value = border-top-color: value</li>
    <li class="list-group-item">bef-bcb-value = border-bottom-color: value</li>
    <li class="list-group-item">bef-bcs-value = border-left-color: value</li>
    <li class="list-group-item">bef-bce-value = border-right-color: value</li>
    <li class="list-group-item">
      bef-bcx-value = border-right-color: value ; border-left-color: value
    </li>
    <li class="list-group-item">
      bef-bcy-value = border-top-color: value ; border-bottom-color: value
    </li>
  </ul>
  <p class="mt-3 text-start bef bef-link-futurePop">
    Where value can be changed for any value.
  </p>
  <a id="radiusborderHTU"></a>
  <h4 class="bef bef-pt-4rem">Radius</h4>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To use the border-radius you need to use the class bef-rounded- and add a
    valid value like in the following example:
  </p>
  <div class="d-flex flex-column flex-sm-row bef justify-content-evenly">
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="bg-dark text-light p-3 bef bef-r-30px">
        Paragraph with a border-radius of 30px.
      </p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger"
              >"bg-dark text-light p-3 bef bef-r-30px"</span
            >
            &#62;
          </span>
          <br />
          &ensp;Paragraph with a border-radius of 30px.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
</section>
