<!-- Z-indexHTU -->
<section>
  <a id="zIndexHTU"></a>
  <h3 class="bef bef-pt-4rem">Z Index</h3>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To use the z-index you need to use the class bef-z- and add a valid value
    like in the following example:
  </p>
  <div
    class="d-flex flex-column flex-sm-row bef bef-mb-15rem justify-content-evenly"
  >
    <div>
      <h5 class="text-center my-3">Example</h5>
      <p class="bef bef-z-10">Paragraph with a z-index of 10.</p>
    </div>
    <div>
      <h5 class="text-center my-3">Code</h5>
      <p
        class="d-inline-block p-2 bef bef-m-0rem__2rem bef-bg-futurePop__OPA__0_03"
      >
        <code class="text-dark">
          <span class="text-primary">
            &#60;p class=<span class="text-danger">"bef bef-z-10"</span>
            &#62;
          </span>
          <br />
          &ensp;Paragraph with a z-index of 10.
          <br />
          <span class="text-primary"> &#60;&#47;p&#62; </span>
        </code>
      </p>
    </div>
  </div>
</section>
