<h2
  class="text-center d-block bef bef-w-85vw bef-w-md-75vw bef-fs-2rem bef-fs-md-3rem bef-m-3rem__auto__0 bef-text-summer fw-bolder"
>
  Bootstrap Expanded Features
</h2>
<!-- ABOUT -->
<section>
  <a id="about"></a>
  <h2 class="bef bef-pt-4rem">About 🧐</h2>
  <article>
    <p class="mt-4 mb-3 text-start">
      Too many new features for bootstrap made with javascript for better
      performance and more options without a large css file.
    </p>
  </article>
  <!-- THE_PROBLEM -->
  <article class="mb-5">
    <h3>The problem 😭</h3>
    <p class="my-3 text-start">
      Bootstrap doesn't support options of they classes like w-33 to have width:
      33%; on an element or things more especific like h-20vh to have an element
      with: height 20vh;, that can be more efficient and responsive and whenever
      we need those, we need to get it though a css style sheet and thats not
      the main point of using Bootstrap.
    </p>
    <p class="mt-3 text-start">
      First I tried to make a library for sass to get to many more options for
      the classes but there was one problem, it was an 50mb size file after
      beeing compiled, and we know that 50mb its a large file to be downloaded
      only to use a few classes that are on the file, but then I get one idea
      that can let anybody to get all the css that they want without having all
      the options that they dont use and having the option to create more colors
      that can be used with bg-newcolorname to get background-color: newcolor;
      and many more options.
    </p>
  </article>
  <!-- THE_SOLUTION -->
  <article class="mb-5">
    <h3>The solution 😎</h3>
    <p class="mt-3 text-start">
      We can now use this js library that creates all the css with the classes
      that are like in bootstrap just in the load of your pages, that mean that
      your users will only need to download the js and not a css file of 50mb+
      and speed up you charge with a simple task that only consumes a few memory
      of the ram of the user.
    </p>
  </article>
</section>
<!-- HOW_TO_USE -->
<section>
  <a id="howToUse"></a>
  <h2>How To Use ✏️</h2>
  <ul class="list-group bef bef-link-futurePop">
    <li
      class="list-group-item list-group-item-action"
      *ngFor="let navItem of navMenu"
    >
      <a
        class="text-decoration-none"
        href="{{
          navItem.url + (navItem.fragment ? '#' + navItem.fragment : '')
        }}"
        [routerLink]="[navItem.url]"
        [fragment]="navItem.fragment ? navItem.fragment : undefined"
        rel=" noopener noreferrer "
        >{{ navItem.title }}</a
      >
      <ng-container *ngIf="navItem.sections">
        <ul
          *ngFor="let nI of navItem.sections"
          class="ms-4 bef bef-link-futurePop list-group list-group-flush"
        >
          <li class="list-group-item list-group-item-action">
            <a
              class="text-decoration-none"
              href="{{ nI.url + (nI.fragment ? '#' + nI.fragment : '') }}"
              [routerLink]="[nI.url]"
              [fragment]="nI.fragment ? nI.fragment : undefined"
              rel=" noopener noreferrer "
              >{{ nI.title }}</a
            >
          </li>
        </ul>
      </ng-container>
    </li>
  </ul>
</section>
