<!-- BASICHTU -->
<section>
  <a id="basicHTU"></a>
  <h3 class="bef bef-pt-4rem">Basic</h3>
  <p class="mt-4 mb-3 text-start bef bef-link-futurePop">
    To start using this library, you only need to use some classes that seems to
    much alike the bootstrap classes, but the key to use this tool is to use the
    bef class like in this example:
  </p>
  <codeviewer [code]="getHTML('bef1')" [show]="'code'"></codeviewer>
  <p class="mt-3 mb-3 text-start bef bef-link-futurePop">
    After that you can write classes like in bootstrap but with custom values
    like in this example:
  </p>
  <codeviewer [code]="getHTML('bef2')"></codeviewer>
</section>
