<aside
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offCanvasGlosary"
  aria-labelledby="offCanvasGlosaryLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offCanvasGlosaryLabel">Glosary</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div
    class="offcanvas-body bef bef-h-calcSD100vh__MIN__64pxED bef-overflowY-scroll bef-overflowX-hidden"
  >
    <ul class="nav flex-column bef bef-link-futurePop">
      <li class="nav-item" *ngFor="let navItem of navMenu">
        <button
          type="button"
          class="btn"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        >
          <a
            class="nav-link"
            href="{{
              navItem.url + (navItem.fragment ? '#' + navItem.fragment : '')
            }}"
            [routerLink]="[navItem.url]"
            [fragment]="navItem.fragment ? navItem.fragment : undefined"
            rel=" noopener noreferrer "
            >{{ navItem.title }}</a
          >
        </button>
        <ng-container *ngIf="navItem.sections">
          <ul
            *ngFor="let nI of navItem.sections"
            class="nav ms-4 flex-column bef bef-link-futurePop"
          >
            <li class="nav-item">
              <button
                type="button"
                class="btn"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              >
                <a
                  class="nav-link"
                  href="{{ nI.url + (nI.fragment ? '#' + nI.fragment : '') }}"
                  [routerLink]="[nI.url]"
                  [fragment]="nI.fragment ? nI.fragment : undefined"
                  rel=" noopener noreferrer "
                  >{{ nI.title }}</a
                >
              </button>
            </li>
          </ul>
        </ng-container>
      </li>
    </ul>
  </div>
</aside>
